@{
    Layout = "~/Views/Shared/_AccountManagementLayout.cshtml";
}

@section Title{
    Forgotten password sent
}

<h4 class="mb-5">Please check your email to reset your password..</h4>



<button type="button" class="au-btn au-btn--block au-btn--green m-b-20" onclick="location.href = '@Url.Action("Login", "Account")'">Log in</button>
