@model LearningBox.Models.ViewModels.ForgotPasswordViewModel
@{
    Layout = "~/Views/Shared/_AccountManagementLayout.cshtml";
}

@section Title{
    Forgot Password
}

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4 class="mb-2">Enter your email.</h4>

    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-group">
        <div class="form-group">
            <label>Email</label>
            <input class="au-input au-input--full" type="email" name="Email" placeholder="Email">
        </div>
    </div>

    <input type="submit" class="au-btn au-btn--block au-btn--green m-b-20" value="Send" />

}
