<div class="setting-menu js-right-sidebar d-none d-lg-block">
    <div class="account-dropdown__body">
        <div class="account-dropdown__item">
            <a href="@Url.Action("SetupPersonData", "Account")">
                <i class="zmdi zmdi-account"></i>Personal Data
            </a>
        </div>
        <div class="account-dropdown__item">
            <a href="@Url.Action("Management", "ContactDetails")">
                <i class="zmdi zmdi zmdi-assignment-account"></i>Contact Details
            </a>
        </div>
        <div class="account-dropdown__item">
            <a href="#">
                <i class="zmdi zmdi-money-box"></i>Gamer Tag
            </a>
        </div>
        <div class="account-dropdown__item">
            <a href="#">
                <i class="zmdi zmdi-settings"></i>Settings
            </a>
        </div>
    </div>
</div>